@media only screen and (min-width: 32rem) {
  #menu-button {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }

  nav a {
    border: none;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
  }
}
