/* temples-large.css */

@media (min-width: 768px) {
  #menu-button {
    display: none; /* Hide hamburger button */
  }

  nav {
    display: flex !important;
    position: static;
    flex-direction: row;
    background: none;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
